<div class="container">

  <h1 class="text-center my-3">Edit project</h1>

<%= render 'form', project: @project %>

<div class="container d-flex justify-content-center ">
  <%= link_to 'Back', projects_path, class: 'btn btn-info my-5' %>
</div>

</div>
