<div class="container">
  <h1>Projects</h1>

  <div class="row">
    <% @projects.reverse.each do |project| %>
      <div class="col-md-4 col-lg-4">
        <div class="card shadow border-1">
          <% if user_signed_in? %>
            <%= link_to (image_tag project.project_photo.url, size: "400x300", class: "card-img-top"), all_project_path(project), :remote => true%>
          <% else %>
            <%= link_to (image_tag project.project_photo.url, size: "400x300" ), all_project_path(project), :remote => true%>
        <% end %>
        </div>
        <div class="w-100" style="margin-top:20px;">
        </div>

      </div>
      <% end %>






  </div>





</div>
