<section class="jumbotron about-page bg-info" style="--image-url: url(https://i.pinimg.com/originals/0b/a3/d6/0ba3d60362c7e6d256cfc1f37156bad9.jpg)">
  <div class="container">
    <div class="row">
      <div class="justify-content-center">
        <h1>Hi, I'm Adel Cabrera</h1>
        <h2>Full stack web developer</h2>
      </div>
    </div>
  </div>
</section>

<section class="container py-5">
  <h2 class="text-center">ABOUT ME</h2>
  <hr>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 py-3">
      <p>
        As a student in this academy, my intention with this project was to <strong>contribute to the professional development</strong> of other students, to show their value as graduates of <strong>Desafío LATAM</strong> to IT companies and HR recruiters.
      </p>
      <p>
        <strong>I really like writing code</strong>, learning new programming languages ​​and frameworks. I hope you also enjoy it on your <strong>professional development process</strong>. And I also want this project to help you in your job search.
      </p>
      <p>
        <strong>I wish you the best</strong> in your career and personal projects. <strong>Never stop learning</strong> new technologies and stay alert to the opportunities that appear in your path. With personal effort and some luck, you can achieve all your goals.
      </p>
      <p>
        This project is dedicated in the loving memory of <strong>Alejandro Taboada Sánchez</strong>, from the YouTube channel <a href="https://www.youtube.com/channel/UC7QoKU6bj1QbXQuNIjan82Q">Programación ATS</a> (the initial letters of his full name). He often said: "<strong><i>if you can imagine it, you can program it.</i></strong>".
      </p>
      <p>
        This project is dedicated in the loving memory of <strong>Alejandro Taboada Sánchez</strong>, from the YouTube channel <a href="https://www.youtube.com/channel/UC7QoKU6bj1QbXQuNIjan82Q">Programación ATS</a> (the initial letters of his full name). He often said: "<strong><i>if you can imagine it, you can program it.</i></strong>".
      </p>
      <p>
        Finally, I would like to thank my partner <strong>Natalia Salazar E.</strong> for her patience with me and <strong>unconditional support</strong> during all this time I have dedicated to this bootcamp. You are the best and most valuable person I have ever met and I feel <strong>completely grateful</strong> to be with you.
      </p>

    </div>

    <div class="col-12 col-md-6 col-lg-6 py-3 text-center">
      <div class="container">
        <img src="https://avatars1.githubusercontent.com/u/24981925?s=460&v=4" alt="" class="about-img">
      </div>

      <div class="container mt-3 ">
        <a href="https://github.com/Adel-Cabrera">
          <i class="fab fa-github fa-3x text-dark"></i>
        </a>
        <a href="https://www.linkedin.com/in/adel-jes%C3%BAs-cabrera-mesina/">
          <i class="ml-2 fab fa-linkedin fa-3x text-dark"></i>
        </a>
        <a href="mailto:adel.cabrera.mesina@gmail.com">
          <i class="ml-2 fas fa-envelope fa-3x text-dark"></i>
        </a>
      </div>
    </div>

  </div>
</section>

<section class="container-fluid buy-me py-5">
  <div class=" text-center text-white">
    <h3>If you liked this project, would you consider buying me a coffee?</h3>
    <br>
    <div class="container ">
      <a href='https://www.flow.cl/btn.php?token=0betiwg' target='_blank' class="pay-flow">
        <img src='https://www.flow.cl/img/botones/btn-donar-celeste.png'>
      </a>
      <div class="w-100">
        <br>
      </div>
      <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/8FpL7v1">
        <img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee">
        <span style="margin-left:15px;font-size:28px !important;">Buy me a coffee</span></a>
    </div>
  </div>
</section>
