.upload .control-label {
  font-weight: bold;
  color: #fff;
}

.upload {
background: linear-gradient(90deg, rgba(114,202,241,1) 0%, rgba(0,158,227,1) 50%, rgba(60,85,232,1) 100%);
border-radius: 25px;
}

.upload label {
  font-weight: bold;
  color: #fff;
}

.upload .form-control {
  background-color: rgba(white, .8);
  border: solid 1px white;
  width: 100%;
  height: 60px;
  padding: 25px;
  position: relative;
  margin-bottom: 20px;
}

.square-button {
  background-color: rgba(white, .8);
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  transition: all 0.3s ease;
    padding: 0 60px;
  height: 60px;
  border: none;
  width: 100%;

  &:focus,
  &:hover {
    background-color: white;
  }
}
