<div class="text-center">
	<p id="notice"><%= notice %></p>
	<div class="jumbotron">
		<p>
	  <%= @category.name %>
	</p>
	</div>
</div>

<%= link_to 'Editar', root_path %>
<%= link_to 'Volver', root_path, class: 'btn btn-default' %>
